.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  background-color: blue;
  margin-top: 24px;
  width: 48px;
  height: 48px;
}

.brand h1 {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 800;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: white;
}
